.cold{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  .heading{
    font-size: 24px;
    color: #ffffff;
  }

  .info{
    margin: 10px 0;
    max-width: 400px;
    text-align: center;
    color: #5B5A99;
  }

  button{
    border: none;
    outline: none;
    width: 120px;
    height: 45px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    background: #c8304d;
    width: 170px;
    color: #ffffff;
    font-size: 14px;
  }
}