.nft__card {
    position: relative;
    width: 100%;
    min-width: 250px;
    border-radius: 8px;
    border: 1px solid #3b3a4f;
    background: #2d173f;
    text-align: left;
    max-width: 350px;

    &__image__container {
        position: relative;
        margin: 16px;
        display: block;
        height: 294px;
        overflow: hidden;
        border-radius: 4px;
        align-self: stretch;
        background: #6b7280;

        figure {
            position: relative;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__details {
        padding: 0 16px;

        p {
            width: 100%;
            font-size: 20px;
            color: #fff;
            margin-bottom: 15px;
        }
    }
}
