.prediction__details__content {
  width: 100%;
}

.prediction__details__content .title {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #b1afcd;
  margin-bottom: 4px;
}

.prediction__details__content .subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #5b5a99;
  margin-bottom: 32px;
}

.prediction__details__content .staking__round__timing {
  width: 100%;
  min-height: 53px;
  -webkit-box-shadow: 0px 12px 14px rgba(32, 30, 66, 0.506567);
          box-shadow: 0px 12px 14px rgba(32, 30, 66, 0.506567);
  border-radius: 8px;
  padding: 12px 16px;
  margin-bottom: 24px;
}

@supports ((-webkit-backdrop-filter: blur(18.5547px)) or (backdrop-filter: blur(18.5547px))) {
  .prediction__details__content .staking__round__timing {
    -webkit-backdrop-filter: blur(18.5547px);
    backdrop-filter: blur(18.5547px);
  }
}

.prediction__details__content .staking__round__timing .time__counter {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prediction__details__content .staking__round__timing .time__counter span {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.prediction__details__content .staking__round__timing .time__counter span svg {
  font-size: 16px;
  margin-right: 6px;
}

.prediction__details__content .staking__round__timing .time__counter span:first-child {
  margin-right: 16px;
}

.prediction__details__content .staking__round__timing .time__counter span.time {
  font-size: 16px;
  line-height: 24px;
}

.prediction__details__content .staking__round__timing .progress__bar {
  position: relative;
  width: 100%;
  height: 3px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 8px;
  overflow: hidden;
}

.prediction__details__content .staking__round__timing .progress__bar .elapsed {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  border-radius: 8px;
}

.prediction__details__content .staking__round__timing.ongoing {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2.1%, rgba(80, 227, 194, 0.23)), color-stop(98.26%, rgba(0, 166, 96, 0.23)));
  background: linear-gradient(180deg, rgba(80, 227, 194, 0.23) 2.1%, rgba(0, 166, 96, 0.23) 98.26%);
}

.prediction__details__content .staking__round__timing.ongoing .elapsed {
  background: #50e3c2;
}

.prediction__details__content .staking__round__timing.next__round {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2.1%, rgba(227, 80, 122, 0.23)), color-stop(98.26%, rgba(200, 48, 77, 0.23)));
  background: linear-gradient(180deg, rgba(227, 80, 122, 0.23) 2.1%, rgba(200, 48, 77, 0.23) 98.26%);
}

.prediction__details__content .staking__round__timing.next__round .elapsed {
  background: #e3507a;
}

.prediction__details__content .details__body {
  width: 100%;
}

.prediction__details__content .details__body.ongoing .predict {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prediction__details__content .details__body.ongoing .predict .select__coin,
.prediction__details__content .details__body.ongoing .predict .locked__position {
  margin-bottom: 24px;
}

.prediction__details__content .details__body.ongoing .predict .select__coin p,
.prediction__details__content .details__body.ongoing .predict .locked__position p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.2;
  margin-bottom: 8px;
}

.prediction__details__content .details__body.ongoing .predict .select__coin {
  margin-right: 48px;
}

.prediction__details__content .details__body.ongoing .predict .select__coin .dropdown {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.prediction__details__content .details__body.ongoing .predict .select__coin .dropdown .custom__dropdown {
  border: 1px solid #5b5a99;
  border-radius: 8px;
}

.prediction__details__content .details__body.ongoing .predict .select__coin .dropdown .custom__dropdown__control {
  width: 100%;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  cursor: pointer;
  background: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  padding: 0.3rem 1rem;
}

.prediction__details__content .details__body.ongoing .predict .select__coin .dropdown .custom__dropdown__control .is-selected {
  color: #fff;
}

.prediction__details__content .details__body.ongoing .predict .select__coin .dropdown .custom__dropdown__control svg {
  color: #5b5a99;
}

.prediction__details__content .details__body.ongoing .predict .select__coin .dropdown .custom__dropdown .Dropdown-menu {
  padding: 9px;
  background: radial-gradient(123.22% 129.67% at 100.89% -5.6%, #201d47 0%, #17153a 100%);
  opacity: 0.9;
  -webkit-box-shadow: 0px 60px 60px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 60px 60px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 8px;
  z-index: 10;
}

.prediction__details__content .details__body.ongoing .predict .select__coin .dropdown .custom__dropdown .Dropdown-menu .Dropdown-option {
  font-style: normal;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 8px 10px;
}

.prediction__details__content .details__body.ongoing .predict .select__coin .dropdown .custom__dropdown .Dropdown-menu .Dropdown-option svg {
  display: none;
}

.prediction__details__content .details__body.ongoing .predict .select__coin .dropdown .custom__dropdown .Dropdown-menu .Dropdown-option.is-selected, .prediction__details__content .details__body.ongoing .predict .select__coin .dropdown .custom__dropdown .Dropdown-menu .Dropdown-option:hover {
  background: rgba(89, 88, 141, 0.4);
  font-weight: 600;
  opacity: 0.8;
}

.prediction__details__content .details__body.ongoing .predict .locked__position .value {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.9;
}

.prediction__details__content .details__body.ongoing .available__balance {
  width: 100%;
  min-height: 65px;
  border: 1px solid rgba(166, 163, 235, 0.31);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 28px;
  padding: 12px 12px;
}

.prediction__details__content .details__body.ongoing .available__balance .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prediction__details__content .details__body.ongoing .available__balance .top p,
.prediction__details__content .details__body.ongoing .available__balance .top img {
  margin-bottom: 5px;
}

.prediction__details__content .details__body.ongoing .available__balance .top p {
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.9;
  font-size: 18px;
  line-height: 27px;
  white-space: nowrap;
  margin-right: 12px;
}

.prediction__details__content .details__body.ongoing .available__balance .top p span {
  font-size: 10px;
  line-height: 15px;
  opacity: 0.67;
}

.prediction__details__content .details__body.ongoing .available__balance .note {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  color: #5b5a99;
}

.prediction__details__content .details__body.ongoing .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prediction__details__content .details__body.ongoing .buttons button {
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 205px;
  max-width: 205px;
  height: 41px;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 16px;
}

.prediction__details__content .details__body.ongoing .buttons button.up {
  background: rgba(80, 227, 194, 0.25);
  border: 1px solid #50e3c2;
  color: #50e3c2;
}

.prediction__details__content .details__body.ongoing .buttons button.down {
  background: rgba(227, 80, 122, 0.32);
  border: 1px solid #e3507a;
  color: #e3507a;
  margin-right: 16px;
}

.prediction__details__content .details__body.ongoing .buttons button svg {
  margin-right: 16px;
}

.prediction__details__content .details__body.next__round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prediction__details__content .details__body.next__round svg {
  margin-bottom: 21px;
}

.prediction__details__content .details__body.next__round .round__status__title {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #b1afcd;
  margin-bottom: 3px;
}

.prediction__details__content .details__body.next__round .round__status__desc {
  width: 100%;
  max-width: 375px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #5b5a99;
  margin-bottom: 15px;
}

.prediction__details__content .details__body.next__round a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 130px;
  height: 34px;
  background: rgba(255, 255, 255, 0.18);
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}
/*# sourceMappingURL=predictiondetails.styles.css.map */