#farming {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	background: radial-gradient(
		123.22% 129.67% at 100.89% -5.6%,
		#201d47 0%,
		#17153a 100%
	);
	box-shadow: 0px 60px 60px rgba(0, 0, 0, 0.25);

	.farming__main__content {
		width: 100%;

		.container {
			width: 100%;
			max-width: 1920px;
			margin: 0 auto;


			main {
				width: 100%;

				.farming__card__container {
					width: 100%;
					display: grid;
					grid-template-columns: repeat(auto-fit, minmax(548px, 1fr));
					gap: 24px 22px;
					padding-bottom: 40px;

					@media screen and (max-width: 875px) {
						grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
					}
				}

				.skeleton__container {
					padding: 1rem;
					text-align: center;
					border-radius: 5px;
					max-width: 400px;
					border: 1px solid rgba(51, 47, 103, 0.443218);
				}
			}
		}
	}
}
