#staking {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: radial-gradient(123.22% 129.67% at 100.89% -5.6%, #201d47 0%, #17153a 100%);
  -webkit-box-shadow: 0px 60px 60px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 60px 60px rgba(0, 0, 0, 0.25);
}

#staking .staking__main__content {
  width: 100%;
}

#staking .staking__main__content .container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

#staking .staking__main__content .container header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 12px;
}

#staking .staking__main__content .container header button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

#staking .staking__main__content .container header button:hover, #staking .staking__main__content .container header button:focus {
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#staking .staking__main__content .container header button.hamburger {
  color: black;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52px;
  height: 40px;
  background: #ffffff;
  border-radius: 8px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 2px 18px 18px 0;
}

#staking .staking__main__content .container header button.hamburger #nav-icon1 {
  width: 30px;
  height: 18px;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#staking .staking__main__content .container header button.hamburger #nav-icon1 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #292d32;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#staking .staking__main__content .container header button.hamburger #nav-icon1 span:nth-child(1) {
  top: 0px;
}

#staking .staking__main__content .container header button.hamburger #nav-icon1 span:nth-child(2) {
  top: 9px;
}

#staking .staking__main__content .container header button.hamburger #nav-icon1 span:nth-child(3) {
  top: 18px;
}

#staking .staking__main__content .container header button.hamburger #nav-icon1.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

#staking .staking__main__content .container header button.hamburger #nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#staking .staking__main__content .container header button.hamburger #nav-icon1.open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

@media screen and (max-width: 875px) {
  #staking .staking__main__content .container header button.hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#staking .staking__main__content .container header .header__text {
  margin-bottom: 24px;
  margin-right: 32px;
}

#staking .staking__main__content .container header .header__text h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}

#staking .staking__main__content .container header .header__text p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #5b5a99;
}

#staking .staking__main__content .container header .header__ctas {
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#staking .staking__main__content .container header .header__ctas .wallet__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 39px;
  margin-bottom: 16px;
}

#staking .staking__main__content .container header .header__ctas .wallet__price img {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

#staking .staking__main__content .container header .header__ctas .wallet__price p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

#staking .staking__main__content .container header .header__ctas .address {
  border: none;
  outline: none;
  width: 193px;
  height: 45px;
  background: #00d57b;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

#staking .staking__main__content .container header .header__ctas .address svg {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

#staking .staking__main__content .container header .header__ctas .address span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

#staking .staking__main__content .container header .header__ctas .address.not__connected {
  background: #c8304d;
}

#staking .staking__main__content .container main {
  width: 100%;
}

#staking .staking__main__content .container main .tab {
  width: 222px;
  height: 42px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2.1%, rgba(51, 47, 103, 0.10194)), color-stop(98.26%, rgba(61, 60, 125, 0.0922917)));
  background: linear-gradient(180deg, rgba(51, 47, 103, 0.10194) 2.1%, rgba(61, 60, 125, 0.0922917) 98.26%);
  -webkit-box-shadow: 0px 12px 14px rgba(32, 30, 66, 0.506567);
          box-shadow: 0px 12px 14px rgba(32, 30, 66, 0.506567);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 33px;
}

@supports ((-webkit-backdrop-filter: blur(18.5547px)) or (backdrop-filter: blur(18.5547px))) {
  #staking .staking__main__content .container main .tab {
    -webkit-backdrop-filter: blur(18.5547px);
    backdrop-filter: blur(18.5547px);
  }
}

#staking .staking__main__content .container main .tab a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
  width: 98px;
  height: 28px;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #b1afcd;
}

#staking .staking__main__content .container main .tab a.active {
  background: linear-gradient(224.09deg, rgba(26, 23, 62, 0.45) 0%, rgba(18, 16, 48, 0.49) 98.47%);
  color: #ffffff;
}

#staking .staking__main__content .container main .staking__card__container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(358px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(358px, 1fr));
  gap: 24px 22px;
  padding-bottom: 40px;
}

@media screen and (max-width: 875px) {
  #staking .staking__main__content .container main .staking__card__container {
    -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

#staking .staking__main__content .container main .staking__past {
  width: 100%;
  padding-right: 43px;
}

#staking .staking__main__content .container main .staking__past .staking__details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  min-height: 78px;
  border: 0.4px solid #b1afcd;
  border-radius: 8px;
  margin-bottom: 38px;
}

#staking .staking__main__content .container main .staking__past .staking__details .detail,
#staking .staking__main__content .container main .staking__past .staking__details .earnings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#staking .staking__main__content .container main .staking__past .staking__details .detail .dot,
#staking .staking__main__content .container main .staking__past .staking__details .earnings .dot {
  display: block;
  width: 6px;
  height: 6px;
  background: #e3507a;
  border-radius: 8px;
  margin-top: 4px;
  margin-right: 15px;
}

#staking .staking__main__content .container main .staking__past .staking__details .detail p,
#staking .staking__main__content .container main .staking__past .staking__details .earnings p {
  white-space: nowrap;
}

#staking .staking__main__content .container main .staking__past .staking__details .detail .title__value,
#staking .staking__main__content .container main .staking__past .staking__details .earnings .title__value {
  font-style: normal;
}

#staking .staking__main__content .container main .staking__past .staking__details .detail .title__value .title,
#staking .staking__main__content .container main .staking__past .staking__details .earnings .title__value .title {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 2px;
}

#staking .staking__main__content .container main .staking__past .staking__details .detail .title__value .value,
#staking .staking__main__content .container main .staking__past .staking__details .earnings .title__value .value {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

#staking .staking__main__content .container main .staking__past .staking__details .first {
  width: 100%;
  max-width: 551px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 18px;
}

#staking .staking__main__content .container main .staking__past .staking__details .detail {
  margin-right: 18px;
}

#staking .staking__main__content .container main .staking__past .staking__details .earnings {
  width: 100%;
  max-width: 420px;
  border-left: 1px solid #e3507a;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (max-width: 1050px) {
  #staking .staking__main__content .container main .staking__past .staking__details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #staking .staking__main__content .container main .staking__past .staking__details .first {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 16px;
  }
  #staking .staking__main__content .container main .staking__past .staking__details .first .detail {
    margin-bottom: 18px;
  }
  #staking .staking__main__content .container main .staking__past .staking__details .earnings {
    padding-top: 18px;
    border-left: none;
    border-top: 1px solid #e3507a;
  }
}

@media screen and (max-width: 875px) {
  #staking .staking__main__content .container main .staking__past {
    padding-right: 0;
  }
}
/*# sourceMappingURL=staking.styles.css.map */