#prediction {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: radial-gradient(123.22% 129.67% at 100.89% -5.6%, #201d47 0%, #17153a 100%);
  -webkit-box-shadow: 0px 60px 60px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 60px 60px rgba(0, 0, 0, 0.25);
}

#prediction .toast1 {
  background-color: red;
}

#prediction .price__prediction__main__content {
  width: 100%;
}

#prediction .price__prediction__main__content .container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

#prediction .price__prediction__main__content .container header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 12px 24px;
}

#prediction .price__prediction__main__content .container header button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

#prediction .price__prediction__main__content .container header button:hover, #prediction .price__prediction__main__content .container header button:focus {
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#prediction .price__prediction__main__content .container header button.hamburger {
  color: black;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52px;
  height: 40px;
  background: #ffffff;
  border-radius: 8px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 2px 18px 18px 0;
}

#prediction .price__prediction__main__content .container header button.hamburger #nav-icon1 {
  width: 30px;
  height: 18px;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#prediction .price__prediction__main__content .container header button.hamburger #nav-icon1 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #292d32;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#prediction .price__prediction__main__content .container header button.hamburger #nav-icon1 span:nth-child(1) {
  top: 0px;
}

#prediction .price__prediction__main__content .container header button.hamburger #nav-icon1 span:nth-child(2) {
  top: 9px;
}

#prediction .price__prediction__main__content .container header button.hamburger #nav-icon1 span:nth-child(3) {
  top: 18px;
}

#prediction .price__prediction__main__content .container header button.hamburger #nav-icon1.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

#prediction .price__prediction__main__content .container header button.hamburger #nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#prediction .price__prediction__main__content .container header button.hamburger #nav-icon1.open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

@media screen and (max-width: 875px) {
  #prediction .price__prediction__main__content .container header button.hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#prediction .price__prediction__main__content .container header .header__text {
  margin-bottom: 24px;
  margin-right: 32px;
}

#prediction .price__prediction__main__content .container header .header__text h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}

#prediction .price__prediction__main__content .container header .header__text p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #5b5a99;
}

#prediction .price__prediction__main__content .container header .header__ctas {
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#prediction .price__prediction__main__content .container header .header__ctas .wallet__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 39px;
  margin-bottom: 16px;
}

#prediction .price__prediction__main__content .container header .header__ctas .wallet__price img {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

#prediction .price__prediction__main__content .container header .header__ctas .wallet__price p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

#prediction .price__prediction__main__content .container header .header__ctas .address {
  border: none;
  outline: none;
  width: 193px;
  height: 45px;
  background: #00d57b;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

#prediction .price__prediction__main__content .container header .header__ctas .address svg {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

#prediction .price__prediction__main__content .container header .header__ctas .address span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

#prediction .price__prediction__main__content .container header .header__ctas .address.not__connected {
  background: #c8304d;
}

@media screen and (max-width: 370px) {
  #prediction .price__prediction__main__content .container header {
    padding: 45px 0 24px;
  }
}

#prediction .price__prediction__main__content .container main {
  width: 100%;
}

#prediction .price__prediction__main__content .container main .coins__to__predict {
  width: 100%;
  padding-left: 12px;
  margin-bottom: 33px;
}

#prediction .price__prediction__main__content .container main .coins__to__predict .title {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #b1afcd;
  margin-bottom: 18px;
}

#prediction .price__prediction__main__content .container main .coins__to__predict__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#prediction .price__prediction__main__content .container main .coins__to__predict__container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 370px) {
  #prediction .price__prediction__main__content .container main .coins__to__predict {
    padding-left: 0px;
  }
}

#prediction .price__prediction__main__content .container main .tab {
  width: 290px;
  height: 42px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2.1%, rgba(51, 47, 103, 0.10194)), color-stop(98.26%, rgba(61, 60, 125, 0.0922917)));
  background: linear-gradient(180deg, rgba(51, 47, 103, 0.10194) 2.1%, rgba(61, 60, 125, 0.0922917) 98.26%);
  -webkit-box-shadow: 0px 12px 14px rgba(32, 30, 66, 0.506567);
          box-shadow: 0px 12px 14px rgba(32, 30, 66, 0.506567);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  margin-left: 12px;
  margin-bottom: 33px;
}

@supports ((-webkit-backdrop-filter: blur(18.5547px)) or (backdrop-filter: blur(18.5547px))) {
  #prediction .price__prediction__main__content .container main .tab {
    -webkit-backdrop-filter: blur(18.5547px);
    backdrop-filter: blur(18.5547px);
  }
}

#prediction .price__prediction__main__content .container main .tab a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
  width: 123px;
  height: 28px;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #b1afcd;
}

#prediction .price__prediction__main__content .container main .tab a.active {
  background: linear-gradient(224.09deg, rgba(26, 23, 62, 0.45) 0%, rgba(18, 16, 48, 0.49) 98.47%);
  color: #fff;
}

@media screen and (max-width: 370px) {
  #prediction .price__prediction__main__content .container main .tab {
    margin-left: 0px;
  }
}

#prediction .price__prediction__main__content .container main .price__prediction__ongoing {
  width: 100%;
  max-width: 1100px;
  padding-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#prediction .price__prediction__main__content .container main .price__prediction__ongoing .prediction__graph {
  width: 100%;
  max-width: 520px;
  height: 570px;
  background: url("../../../../assets/appSvgs/GridBase.svg");
  background-repeat: no-repeat;
  background-size: 626px 378px;
  background-position: -20px 65px;
}

#prediction .price__prediction__main__content .container main .price__prediction__ongoing .prediction__graph text {
  font-size: 12px !important;
  fill: #59588d !important;
}

#prediction .price__prediction__main__content .container main .price__prediction__ongoing .prediction__graph path {
  stroke: #fb49c0;
}

#prediction .price__prediction__main__content .container main .price__prediction__ongoing .prediction__graph span:first-child {
  background: #fb49c0 !important;
}

@media screen and (max-width: 490px) {
  #prediction .price__prediction__main__content .container main .price__prediction__ongoing .prediction__graph {
    height: 420px;
    background-size: 626px 378px;
    background-position: -20px -90px;
  }
  #prediction .price__prediction__main__content .container main .price__prediction__ongoing .prediction__graph text {
    font-size: 10px !important;
  }
}

@media screen and (max-width: 371px) {
  #prediction .price__prediction__main__content .container main .price__prediction__ongoing .prediction__graph text {
    font-size: 8px !important;
  }
}

#prediction .price__prediction__main__content .container main .price__prediction__ongoing .prediction__details {
  width: 100%;
  max-width: 450px;
}

@media screen and (max-width: 1309px) {
  #prediction .price__prediction__main__content .container main .price__prediction__ongoing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0;
  }
  #prediction .price__prediction__main__content .container main .price__prediction__ongoing .prediction__details {
    margin: 76px auto 101px;
  }
}

#prediction .price__prediction__main__content .container main .price__prediction__past {
  width: 100%;
  padding-left: 12px;
  padding-right: 32px;
}

#prediction .price__prediction__main__content .container main .price__prediction__past .price__prediction__details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  min-height: 78px;
  border: 0.4px solid #b1afcd;
  border-radius: 8px;
  margin-bottom: 38px;
}

#prediction .price__prediction__main__content .container main .price__prediction__past .price__prediction__details .detail,
#prediction .price__prediction__main__content .container main .price__prediction__past .price__prediction__details .earnings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#prediction .price__prediction__main__content .container main .price__prediction__past .price__prediction__details .detail .dot,
#prediction .price__prediction__main__content .container main .price__prediction__past .price__prediction__details .earnings .dot {
  display: block;
  width: 6px;
  height: 6px;
  background: #e3507a;
  border-radius: 8px;
  margin-top: 4px;
  margin-right: 15px;
}

#prediction .price__prediction__main__content .container main .price__prediction__past .price__prediction__details .detail p,
#prediction .price__prediction__main__content .container main .price__prediction__past .price__prediction__details .earnings p {
  white-space: nowrap;
}

#prediction .price__prediction__main__content .container main .price__prediction__past .price__prediction__details .detail .title__value,
#prediction .price__prediction__main__content .container main .price__prediction__past .price__prediction__details .earnings .title__value {
  font-style: normal;
}

#prediction .price__prediction__main__content .container main .price__prediction__past .price__prediction__details .detail .title__value .title,
#prediction .price__prediction__main__content .container main .price__prediction__past .price__prediction__details .earnings .title__value .title {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 2px;
}

#prediction .price__prediction__main__content .container main .price__prediction__past .price__prediction__details .detail .title__value .value,
#prediction .price__prediction__main__content .container main .price__prediction__past .price__prediction__details .earnings .title__value .value {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #b1afcd;
}

#prediction .price__prediction__main__content .container main .price__prediction__past .price__prediction__details .first {
  width: 100%;
  max-width: 551px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 18px;
}

#prediction .price__prediction__main__content .container main .price__prediction__past .price__prediction__details .detail {
  margin-right: 18px;
}

#prediction .price__prediction__main__content .container main .price__prediction__past .price__prediction__details .earnings {
  width: 100%;
  max-width: 480px;
  border-left: 1px solid #e3507a;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#prediction .price__prediction__main__content .container main .price__prediction__past .price__prediction__details .earnings .title__value {
  text-align: right;
  margin-right: 42px;
  padding-left: 52px;
}

#prediction .price__prediction__main__content .container main .price__prediction__past .price__prediction__details .earnings .title__value .value {
  color: #ffffff;
}

#prediction .price__prediction__main__content .container main .price__prediction__past .price__prediction__details .earnings button {
  border: none;
  outline: none;
  width: 187px;
  height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.392857px;
  color: #292929;
  background: #908fc2;
  border: 1px solid #59588d;
  border-radius: 8px;
}

@media screen and (max-width: 1345px) {
  #prediction .price__prediction__main__content .container main .price__prediction__past .price__prediction__details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #prediction .price__prediction__main__content .container main .price__prediction__past .price__prediction__details .first {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 16px;
  }
  #prediction .price__prediction__main__content .container main .price__prediction__past .price__prediction__details .first .detail {
    margin-bottom: 18px;
  }
  #prediction .price__prediction__main__content .container main .price__prediction__past .price__prediction__details .earnings {
    max-width: 583px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 33px;
    padding: 8px 16px;
    border-left: none;
    border: 1px solid #59588d;
    border-radius: 8px;
  }
  #prediction .price__prediction__main__content .container main .price__prediction__past .price__prediction__details .earnings .title__value {
    text-align: left;
    margin-right: 0;
    padding-left: 0;
  }
}

@media screen and (max-width: 545px) {
  #prediction .price__prediction__main__content .container main .price__prediction__past .price__prediction__details .earnings {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #prediction .price__prediction__main__content .container main .price__prediction__past .price__prediction__details .earnings .title__value {
    text-align: center;
    margin-right: 0;
    padding-left: 0;
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 875px) {
  #prediction .price__prediction__main__content .container main .price__prediction__past {
    padding-right: 0;
  }
}
/*# sourceMappingURL=prediction.styles.css.map */