.price__prediction__table {
  width: 100%;
  overflow: auto;
  max-height: 60vh;
}

.price__prediction__table #table {
  position: relative;
  display: table;
  white-space: nowrap;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

.price__prediction__table #table .gZOAy {
  background: radial-gradient(123.22% 129.67% at 100.89% -5.6%, #201d47 0%, #17153a 100%);
}

.price__prediction__table #table .table__head,
.price__prediction__table #table .table__data {
  padding: 2rem 1rem;
  min-width: 120px;
}

.price__prediction__table #table .table__header {
  background: #17153a;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.price__prediction__table #table .table__header .table__head {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.2;
}

.price__prediction__table #table .table__header .table__head svg {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin-left: 8px;
}

.price__prediction__table #table .table__body .table__row {
  position: relative;
}

.price__prediction__table #table .table__body .table__row .table__row__options {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.price__prediction__table #table .table__body .table__row .table__data {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.392857px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px 1rem;
}

.price__prediction__table #table .table__body .table__row .table__data:nth-child(1) img {
  margin-right: 13px;
}

.price__prediction__table #table .table__body .table__row .table__data:nth-child(2) p.up svg {
  color: #50e3c2;
}

.price__prediction__table #table .table__body .table__row .table__data:nth-child(2) p.down svg {
  color: #e3507a;
}

.price__prediction__table #table .table__body .table__row .table__data:nth-child(2) p.stay {
  color: #59588d;
}

.price__prediction__table #table .table__body .table__row .table__data:nth-child(2) p.stay svg {
  color: #fff;
}

.price__prediction__table #table .table__body .table__row .table__data:nth-child(5) .down__statistics {
  color: #e3507a;
}

.price__prediction__table #table .table__body .table__row .table__data:nth-child(5) .up__statistics {
  color: #50e3c2;
}

.price__prediction__table #table .table__body .table__row .table__data:nth-child(6) {
  text-transform: capitalize;
}

.price__prediction__table #table .table__body .table__row .table__data button {
  background: none;
  outline: none;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.392857px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #e3507a;
  cursor: pointer;
}

.price__prediction__table #table .table__body .table__row .table__data button.no__earn {
  text-decoration: none;
  cursor: not-allowed;
}

.price__prediction__table #table .table__body .table__row .table__data button.earned {
  text-decoration: none;
  opacity: 0.5;
  cursor: not-allowed;
}
/*# sourceMappingURL=pricepredictiontable.styles.css.map */