.live__matches__container {
    width: 100%;
    position: relative;

    .custom_pagination {
        background-color: rgba(14, 86, 192, 0.8);
        border-radius: 1px;
        width: 8px;
        height: 5px;
        text-align: right;

    }

    .live__match__card {
        cursor: pointer;
        min-width: 260px;
        width: 260px;
        background: linear-gradient(
            180deg,
            rgba(51, 47, 103, 0.10194) 2.1%,
            rgba(61, 60, 125, 0.0922917) 98.26%
        );
        box-shadow: 0px 2px 10px rgba(32, 30, 66, 0.506567);
        border-radius: 8px;
        padding: 16px;
        margin-right: 14px;
        font-size: 12px;

        &__head {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            position: relative;
            padding-bottom: 5px;
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-image: radial-gradient(circle, #7d8bc8 0%, #e2e4eb 100%);
            }
            .live__badge {
                background-color: #C8304D;
                padding: 2px 14px 2px 5px;
                border-radius: 4px;
                color: #fff;
                position: relative;
                &:after {
                    position: absolute;
                    content: "";
                    width: 5px;
                    height: 5px;
                    margin-left: 8px;
                    background-color: #fff;
                    border-radius: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .time__ellapsed {
                color: #34508f;
            }
        }

        &__body {
            padding-top: 10px;
            color: #34508f;
            display: flex;
            .logos__container {
                position: relative;
                .team__one__logo__container, .team__two__logo__container {
                    width: 40px;
                    height: 40px;
                    background: rgba(255, 255, 255, 0.39);
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
                .team__two__logo__container {
                    position: absolute;
                    top: 20%;
                    left: 50%;
                    z-index: 2;
                }
            }
            .team__scores {
                margin-left: 25px;
                width: 100%;
                .team__one, .team__two {
                    margin-top: 5px;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}

.swiper-pagination {
    top: -40px !important;
    position: absolute !important;
    text-align: right !important;
}

.mySwiper {
    position: static !important;
}

.swiper-slide {
    width: auto !important;
    min-width: 0 !important;
}

.swiper-wrapper {
    margin-bottom: 16px !important;
}

.swiper-free-mode>.swiper-wrapper {
    margin-bottom: 16px !important;
}