#filled__slot__modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
  
    .filled__slot__modal__content {
      width: 90%;
      max-width: 597px;
      min-height: 381px;
      max-height: 500px;
      background-image: linear-gradient(180deg, #e3f9ff 15.1%, #c8e8f1 100%);
      box-shadow: 28px 50px 90px rgba(23, 18, 43, 0.7);
      border-radius: 12px;
      overflow: hidden;
      position: relative;
      padding: 64px 80px;

      @media screen and (max-width: 550px) {
        padding: 50px 10%;
      }
  
      @supports (backdrop-filter: blur(26.3971px)) {
        backdrop-filter: blur(26.3971px);
      }

      .close__btn {
        position: absolute;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 22px;
        top: 22px;
        background-color: transparent;
        border: 1px solid #34508f;
        color: #34508f;
        border-radius: 4px;
        font-size: 16px;
      }

      .modal__body {
        margin-top: 32px;
        text-align: center;
        width: 100%;

        .teams__logo .team__logo {
            width: 80px;
            height: 80px;

            &:nth-child(1) {
                transform: translateX(5px);
            }

            &:nth-child(2) {
                transform: translateX(-5px);
                z-index: 2;
            }
        }

        .heading {
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            margin-top: 32px;
            color: #34508f;
        }

        .text {
            font-size: 14px;
            color: #b1afcd;
        }
      }
    }
}