#custom__modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;

  .custom__modal__content {
    width: 90%;
    max-width: 597px;
    min-height: 381px;
    max-height: 500px;
    background: linear-gradient(247.99deg, rgba(52, 49, 102, 0.17) 0%, rgba(41, 39, 84, 0.78) 48.89%, rgba(27, 25, 67, 0.71) 98.46%);
    box-shadow: 28px 50px 90px rgba(23, 18, 43, 0.7);
    border-radius: 12px;
    overflow: hidden;

    @supports (backdrop-filter: blur(26.3971px)) {
      backdrop-filter: blur(26.3971px);
    }
  }
}