#custom__modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;

  .custom__modal__content {
    width: 90%;
    max-width: 597px;
    min-height: 381px;
    max-height: 500px;
    background-image: linear-gradient(180deg, #e3f9ff 15.1%, #c8e8f1 100%);
    box-shadow: 28px 50px 90px rgba(23, 18, 43, 0.7);
    border-radius: 12px;
    overflow: hidden;

    @supports (backdrop-filter: blur(26.3971px)) {
      backdrop-filter: blur(26.3971px);
    }
  }
}