.app__dashboard {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 99;

    p{
        margin: 0;
    }

	.Toastify__toast {
		background: linear-gradient(
			268.95deg, 
			rgba(41, 37, 88, 0.536345) 4.06%, 
			rgba(38, 35, 83, 0.866791) 42.35%, 
			rgba(40, 38, 89, 0.50218) 99.53%
		);
		// background-color: transparent;
		box-shadow: -30.8563px 42.0768px 84.1535px #17122B;
		border-radius: 11.0388px;
		backdrop-filter: blur(22.9152px);
		&-body{
			padding: 0;
			margin: 0;
		}
	}
}

body,
html {
	overflow-x: hidden;
}

a{
	text-decoration: none;
}

iframe {
	z-index: 0 !important;
}
