#sidebar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 286px;
  height: 100vh;
  overflow-y: auto;
  -webkit-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#sidebar::-webkit-scrollbar {
  display: none;
}

#sidebar nav {
  width: 100%;
  height: 100%;
}

#sidebar nav::after {
  content: '';
  display: block;
  height: 24px;
  width: 100%;
}

#sidebar nav button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  margin: 18px 18px auto auto;
}

#sidebar nav button:hover, #sidebar nav button:focus {
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#sidebar nav button.hamburger {
  color: black;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52px;
  height: 40px;
  background: #ffffff;
  border-radius: 8px;
}

#sidebar nav button.hamburger #nav-icon1 {
  width: 30px;
  height: 18px;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#sidebar nav button.hamburger #nav-icon1 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #292d32;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#sidebar nav button.hamburger #nav-icon1 span:nth-child(1) {
  top: 0px;
}

#sidebar nav button.hamburger #nav-icon1 span:nth-child(2) {
  top: 9px;
}

#sidebar nav button.hamburger #nav-icon1 span:nth-child(3) {
  top: 18px;
}

#sidebar nav button.hamburger #nav-icon1.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

#sidebar nav button.hamburger #nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#sidebar nav button.hamburger #nav-icon1.open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

@media screen and (max-width: 875px) {
  #sidebar nav button.hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#sidebar nav ul {
  width: 100%;
  padding: 150px 0 30px 18px;
  list-style-type: none;
}

#sidebar nav ul li {
  width: 100%;
  min-height: 29px;
  padding: 16px;
}

#sidebar nav ul li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-bottom: 12px;
}

#sidebar nav ul li a .icon {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 16px;
}

#sidebar nav ul li a svg {
  opacity: 0.6;
}

#sidebar nav ul li a div.coming__soon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sidebar nav ul li a div.coming__soon span.coming__soon {
  font-style: normal;
  font-weight: 500;
  font-size: 6px;
  line-height: 9px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 2px;
}

#sidebar nav ul li a span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.6;
}

#sidebar nav ul li a .border__active {
  width: 3px;
  height: 29px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px 0px 0px 5px;
  margin-left: auto;
  display: none;
}

#sidebar nav ul li a:hover span,
#sidebar nav ul li a:hover .icon svg {
  opacity: 0.85;
}

#sidebar nav ul li a.active {
  cursor: not-allowed;
}

#sidebar nav ul li a.active span,
#sidebar nav ul li a.active .icon svg {
  opacity: 1;
}

#sidebar nav ul li a.active .border__active {
  display: block;
}

#sidebar nav ul li a.active.not__available span,
#sidebar nav ul li a.active.not__available .icon svg {
  opacity: .6;
}

#sidebar nav ul li a.active.not__available .border__active {
  display: none;
}

#sidebar nav .CA__section {
  position: relative;
  width: 100%;
  max-width: 192px;
  margin: 32px auto 0 30px;
  height: 134px;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 8px;
  padding: 21px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sidebar nav .CA__section .coins__bg {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
}

#sidebar nav .CA__section .coins__bg svg {
  opacity: 0.4;
}

#sidebar nav .CA__section .blur {
  width: 39px;
  height: 39px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 20px;
  background: rgba(255, 126, 250, 0.98);
  mix-blend-mode: normal;
  opacity: 0.4;
  -webkit-filter: blur(32.1356px);
          filter: blur(32.1356px);
}

#sidebar nav .CA__section__content {
  width: 163px;
  min-height: 91px;
  background: rgba(43, 40, 95, 0.72);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 16px;
}

#sidebar nav .CA__section__content .address {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 3px;
}

#sidebar nav .CA__section__content .copy__CA {
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ffffff;
  margin: 0;
  margin-bottom: 12px;
  background: transparent;
}

#sidebar + section {
  padding-left: 286px;
}

@media screen and (max-width: 875px) {
  #sidebar {
    background: radial-gradient(123.22% 129.67% at 100.89% -5.6%, #201d47 0%, #17153a 100%);
    -webkit-box-shadow: -33px 45px 90px #17122b;
            box-shadow: -33px 45px 90px #17122b;
    left: -100vw;
  }
  #sidebar.expand {
    left: 0;
  }
  #sidebar + section {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 400px) {
  #sidebar + section {
    padding-left: 8px;
    padding-right: 8px;
  }
}
/*# sourceMappingURL=sidebar.styles.css.map */