.token__title {
    .round {
        color: #332f67;
    }
}

.tooltip__text {
    background-color: black;
    color: white;
    padding: 7%;
    border-radius: 2%;
    width: 300px;
    display: absolute;
}