			header {
			  width: 100%;
			  display: flex;
			  flex-wrap: wrap;
			  padding: 45px 12px 24px;

				.top-header{
					display: flex;
					justify-content: space-between;
					width: 100%;
				}

			  button {
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    border: none;
					border-radius: 10px;

			    &:hover,
			    &:focus {
			      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
			    }

			    &.hamburger {
			      color: black;
			      display: none;
			      justify-content: center;
			      align-items: center;
			      width: 47px;
			      height: 40px;
			      background: #ffffff;
			      border-radius: 8px;
			      align-self: flex-start;
			      margin: 2px 18px 18px 0;

			      #nav-icon1 {
			        width: 30px;
			        height: 18px;
			        position: relative;
			        margin: 0;
			        -webkit-transform: rotate(0deg);
			        -moz-transform: rotate(0deg);
			        -o-transform: rotate(0deg);
			        transform: rotate(0deg);
			        -webkit-transition: 0.5s ease-in-out;
			        -moz-transition: 0.5s ease-in-out;
			        -o-transition: 0.5s ease-in-out;
			        transition: 0.5s ease-in-out;
			        cursor: pointer;
			      }

			      #nav-icon1 span {
			        display: block;
			        position: absolute;
			        height: 2px;
			        width: 100%;
			        background: #292d32;
			        border-radius: 9px;
			        opacity: 1;
			        left: 0;
			        -webkit-transform: rotate(0deg);
			        -moz-transform: rotate(0deg);
			        -o-transform: rotate(0deg);
			        transform: rotate(0deg);
			        -webkit-transition: 0.25s ease-in-out;
			        -moz-transition: 0.25s ease-in-out;
			        -o-transition: 0.25s ease-in-out;
			        transition: 0.25s ease-in-out;
			      }

			      #nav-icon1 span:nth-child(1) {
			        top: 0px;
			      }

			      #nav-icon1 span:nth-child(2) {
			        top: 9px;
			      }

			      #nav-icon1 span:nth-child(3) {
			        top: 18px;
			      }

			      #nav-icon1.open span:nth-child(1) {
			        top: 9px;
			        -webkit-transform: rotate(135deg);
			        -moz-transform: rotate(135deg);
			        -o-transform: rotate(135deg);
			        transform: rotate(135deg);
			      }

			      #nav-icon1.open span:nth-child(2) {
			        opacity: 0;
			        left: -60px;
			      }

			      #nav-icon1.open span:nth-child(3) {
			        top: 9px;
			        -webkit-transform: rotate(-135deg);
			        -moz-transform: rotate(-135deg);
			        -o-transform: rotate(-135deg);
			        transform: rotate(-135deg);
			      }

			      @media screen and (max-width: 875px) {
			        display: flex;
			      }
			    }
			  }

			  .header__text {
			    margin-bottom: 24px;
			    margin-right: 32px;
					white-space: wrap;

			    h1 {
			      font-style: normal;
			      font-weight: 500;
			      font-size: 24px;
			      line-height: 36px;
			      color: #3b4a8d;;
			    }

			    p {
			      font-style: normal;
			      font-weight: 500;
			      font-size: 16px;
			      line-height: 24px;
			      color: #3b4a8d;
			    }
					&--1{
						@media screen and (max-width: 875px) {
							display: none;
						}
					}
					&--2{
						@media screen and (min-width: 875px) {
							display: none;
						}
					}
			  }

			  .header__ctas {
			    margin-left: 0;
			    display: flex;
			    flex-wrap: wrap;
					justify-content: flex-end;
					align-items: center;

			    .wallet__price {
			      display: flex;
			      align-items: center;
			      margin-bottom: 16px;

			      img {
			        margin-right: 8px;
			        width: 24px;
			        height: 24px;
			      }

			      p {
			        font-style: normal;
			        font-weight: 500;
			        font-size: 16px;
			        line-height: 24px;
			        color: #3b4a8d;
			      }
			    }

			    .address {
			      border: none;
			      outline: none;
			      width: 120px;
			      height: 45px;
			      background: #00d57b;
			      border-radius: 8px;
			      display: flex;
			      justify-content: center;
			      align-items: center;
			      margin-bottom: 16px;

						@media screen and (min-width: 450px) {
							width: 170px;
						}

			      svg {
			        width: 20px;
			        height: 20px;
			        margin-right: 12px;
							@media screen and (max-width: 450px) {
								display: none;
							}
			      }

			      span {
			        font-style: normal;
			        font-weight: 500;
			        font-size: 14px;
			        line-height: 21px;
			        color: #ffffff;
			      }

			      &.not__connected {
			        background: #c8304d;
							width: 170px;
			      }
			    }

					.notification{
						background: #FFFFFFA1;
						border: 2px solid #FFFFFFA1;
						color: #ffffff;
						padding: 0.5rem;
						border-radius: 36px;
						align-self: center;
						margin-bottom: 16px;

						&.alert{
							background: #C8304DA1;
							border: 2px solid #C8304D;
						}
					}
			  }

			  @media screen and (max-width: 370px) {
			    padding: 45px 0 24px;
			  }
			}