.farming__card {
  width: 100%;
  max-width: 548px;
  min-height: 277px;
  padding: 20px 24px 0;
  margin: 0 auto;
  background: linear-gradient(268.95deg, rgba(41, 37, 88, 0.536345) 4.06%, rgba(38, 35, 83, 0.866791) 42.35%, rgba(40, 38, 89, 0.50218) 99.53%);
  -webkit-box-shadow: -33px 45px 90px #17122b;
          box-shadow: -33px 45px 90px #17122b;
  border-radius: 12px;
}

@supports ((-webkit-backdrop-filter: blur(24.5072px)) or (backdrop-filter: blur(24.5072px))) {
  .farming__card {
    -webkit-backdrop-filter: blur(24.5072px);
    backdrop-filter: blur(24.5072px);
  }
}

.farming__card__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.farming__card__top .token__images img {
  width: 34px;
  height: 34px;
}

.farming__card__top .token__images img:nth-child(2) {
  margin-left: -10px;
}

.farming__card__top .token__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.farming__card__top .token__title .name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.farming__card__top .token__title .multiple {
  width: 40px;
  height: 28px;
  background: #c8304d;
  border-radius: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  margin-left: 17px;
}

.farming__card__content {
  width: 100%;
}

.farming__card__content .price__stake {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2.1%, rgba(51, 47, 103, 0.443218)), color-stop(98.26%, rgba(61, 60, 125, 0.401268)));
  background: linear-gradient(180deg, rgba(51, 47, 103, 0.443218) 2.1%, rgba(61, 60, 125, 0.401268) 98.26%);
  -webkit-box-shadow: 0px 12px 14px rgba(32, 30, 66, 0.506567);
          box-shadow: 0px 12px 14px rgba(32, 30, 66, 0.506567);
  border-radius: 8px;
  padding: 14px;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

@supports ((-webkit-backdrop-filter: blur(18.5547px)) or (backdrop-filter: blur(18.5547px))) {
  .farming__card__content .price__stake {
    -webkit-backdrop-filter: blur(18.5547px);
    backdrop-filter: blur(18.5547px);
  }
}

.farming__card__content .price__stake .price,
.farming__card__content .price__stake .stake {
  width: 100%;
  max-width: 230px;
  margin-bottom: 14px;
}

@media screen and (max-width: 875px) {
  .farming__card__content .price__stake .price,
  .farming__card__content .price__stake .stake {
    max-width: 500px;
  }
}

.farming__card__content .price__stake .price {
  border-right: 0.5px solid #59588d;
  padding-right: 34px;
}

.farming__card__content .price__stake .price .section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.farming__card__content .price__stake .price .section:first-child {
  margin-bottom: 10px;
}

.farming__card__content .price__stake .price span {
  font-style: normal;
  font-weight: 500;
  color: #fff;
}

.farming__card__content .price__stake .price span.light {
  font-size: 12px;
  line-height: 18px;
  opacity: 0.61;
  margin-right: 8px;
}

.farming__card__content .price__stake .price span.normal {
  font-size: 14px;
  line-height: 21px;
}

@media screen and (max-width: 875px) {
  .farming__card__content .price__stake .price {
    border-right: none;
    padding-right: 0;
  }
}

.farming__card__content .price__stake .border {
  display: none;
}

@media screen and (max-width: 875px) {
  .farming__card__content .price__stake .border {
    display: block;
    width: 80%;
    max-width: 218px;
    height: .5px;
    margin: 18px auto;
    background: #59588d;
  }
}

.farming__card__content .price__stake .stake {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px;
}

.farming__card__content .price__stake .stake .usdt__staked p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.61);
  margin-bottom: 2px;
  text-align: center;
}

.farming__card__content .price__stake .stake .usdt__staked input {
  width: 100%;
  max-width: 100px;
  text-align: center;
  padding: 4px;
  padding-right: 0;
  border: none;
  background: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  -moz-appearance: textfield;
}

.farming__card__content .price__stake .stake .usdt__staked input::-webkit-outer-spin-button, .farming__card__content .price__stake .stake .usdt__staked input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.farming__card__content .price__stake .stake button {
  border: none;
  outline: none;
  width: 34px;
  height: 32px;
  background: #59588d;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.farming__card__content .price__stake .stake button span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1.5px solid rgba(255, 255, 255, 0.32);
  color: #fff;
  font-size: 16px;
}

.farming__card__content .action {
  border: none;
  outline: none;
  width: 100%;
  height: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  background: #0e56c0;
  color: #ffffff;
  margin-bottom: 21px;
}

.farming__card__content .action.unlock {
  background: #c8304d;
}

.farming__card__content .stake__details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.farming__card__content .stake__details p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  white-space: nowrap;
  margin-right: 24px;
  margin-bottom: 16px;
}

.farming__card__content .stake__details a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-bottom: 16px;
}

.farming__card__content .stake__details a span {
  text-decoration: underline;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.farming__card__content .stake__details a svg {
  width: 16px;
  height: 16px;
  margin-left: 6px;
}
/*# sourceMappingURL=farmingcard.styles.css.map */