.toast_body{
  display: flex; 
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;

  .image{
    padding-right: 1rem;
  }
  .text{
    display: flex;
    flex-direction: column;
    width: 100%;

    .status{
      font-size: 10px;
      font-weight: 400;
      font-style: italic;
    }
    .message{
      font-size: 14px;
      font-weight: 500;
    }
  }

  .close{
    align-self: flex-end;
    text-align: end;
  }
}