.toast_body {
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;

    .image {
        padding-top: 20px;
        padding-right: 1rem;
    }
    .text {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        color: #5b5a99;
        padding-top: 20px;

        .status {
            font-size: 10px;
            font-weight: 400;
            font-style: italic;
        }
        .message {
            font-size: 14px;
            font-weight: 500;
        }
    }

    .close {
        position: absolute;
        top: 2px;
        right: 10px;
    }
}
