.upcoming__matches__table {
    width: 100%;
	overflow: auto;
	max-height: 60vh;

    #table {
		position: relative;
		display: table;
		white-space: nowrap;
		border-collapse: collapse;
		text-align: center;
		width: 100%;
		margin-bottom: 30px;

        .table__head,
		.table__data {
			padding: 2rem 1rem;
			min-width: 100px;
		}

        .table__header {
			background: #e3f9ff;
			width: 100%;
			position: sticky;
			top: 0;
			z-index: 2;

			.table__head {
				position: sticky;
				top: 0;
				z-index: 2;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 21px;
				color: #34508f90;
                text-align: left;

				svg {
					cursor: pointer;
					transform: scale(1.2);
					margin-left: 8px;
				}
			}
		}

        .table__body {
			z-index: 1;
			.table__row {
				position: relative;
				height: 10px;
				z-index: 1;

				.table__data {
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 21px;
					text-align: left;
					letter-spacing: 0.392857px;
					color: #34508f;
					padding: 12px 1rem;

					.match__time {
						font-weight: 700;
						display: block;
					}
					.match__date {
						display: block;
					}
					.teams {
						display: flex;
						align-items: center;
						.logos__container {
							position: relative;
							margin-right: 24px;
							.team__one__logo__container, .team__two__logo__container {
								width: 40px;
								height: 40px;
								background: rgba(255, 255, 255, 0.39);
								border-radius: 50%;
								display: flex;
								justify-content: center;
								align-items: center;
			
								img {
									width: 30px;
									height: 30px;
								}
							}
							.team__two__logo__container {
								position: absolute;
								top: 0;
								left: 50%;
								z-index: 2;
							}
						}
					}
					.stat__container {
						max-width: 20px;
						span {
							margin-left: 15px;
							font-style: italic;
						}
					}

					button {
						border: 0;
						background-color: #0E56C0;
						color: #fff;
						font-size: 16px;
						padding: 6px 16px;
						border-radius: 6px;
						margin-top: 16px;
					}

					.disabled__btn {
						background: linear-gradient(224.09deg, rgba(26, 23, 62, 0.45) 0%, rgba(18, 16, 48, 0.49) 98.47%);
					}
				}
			}
		}

    }
}